@import "global/variable.scss";
@import "global/mixins.scss";

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  @include desktop {
    width: auto;
    margin-top: 47px;
  }
}

.posts__item {
  position: relative;
  font-size: 14px;
  padding: 0;
  min-height: 412px;
  border-top: 1px solid #dbdbdb;

  @include tablet {
    width: 324px;
    min-height: 348px;
    padding: 0;
    border-top: none;
  }

  @include desktop {
    width: 33.3%;
    padding: 0;
    min-height: 267px;
  }
}

.posts__content {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 23px;

  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.posts__photo {
  display: block;
  width: 280px;
  height: 280px;

  @include tablet {
    width: 324px;
    height: auto;
  }

  @include desktop {
    width: 400px;
    height: auto;
  }
}

.posts__photo img {
  display: block;
}

.posts__text {
  margin-top: 15px;

  @include tablet {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 14px;
    padding-left: 20px;
  }

  @include desktop {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
  }
}

.posts__title {
  font-weight: bold;
  line-height: 25px;
}

.posts__author {
  text-transform: none;
}

.posts__like {
  margin-top: 5px;
  display: flex;

  @include tablet {
    padding-right: 0;
    margin-left: auto;
    margin-top: 12px;
  }

  @include desktop {
    padding-right: 9px;
    margin-top: 7px;
  }
}

.posts__like--icon {
  fill: $like;

  @include tablet {
    fill: #a9a9a9;
  }
}

.posts__like--icon-inner {
  display: block;
  width: 22px;
  height: 20px;
}

.posts__like--number {
  display: block;
  height: 14px;
  padding-left: 14px;
  font-weight: bold;
  padding-top: 1px;
  margin-top: 2px;

  @include tablet {
    margin-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.posts__description {

  @include desktop {
    padding-left: 24px;
  }
}

.posts__item:nth-child(1) {

  @include tablet {
    display: block;
    width: 650px;
    margin: auto;
    margin-top: 18px;
  }

  @include desktop {
    width: 100%;
    margin: auto;
    margin-top: 35px;
  }
}

.posts__item:nth-child(1) .posts__photo {

  @include tablet {
    width: 650px;
    height: auto;
  }

  @include desktop {
    width: 1200px;
    height: auto;
  }
}

.posts__item:nth-child(4) {
  border-bottom: 1px solid #dbdbdb;

  @include tablet {
    border-bottom: none;
  }
}

.posts__item:nth-child(4) .posts__photo {
  padding-top: 5px;

  @include tablet {
    padding-top: 0;
  }
}

.posts__item:nth-child(2) .posts__like--number {
  @include tablet {
    padding-right: 18px;
  }
}

.posts__item:nth-child(3) .posts__like--number {
  @include tablet {
    padding-right: 23px;
  }
}

.posts__item:nth-child(4) .posts__like--number {
  @include tablet {
    padding-right: 16px;
  }
}

.common-section .common-section--photo .common-section--photo-second {
  padding-top: 20px;
}
