.video {

}

.video__window {
  margin: 0;
  padding: 0;
  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: 320px 201px;
}

.video__controls {
  position: relative;
  min-height: 66px;
  margin: 0 20px;
  background-color: #f2f2f2;
}

.video__scroll {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  min-height: 45px;
  background-color: rgba(0,0,0,.5);
}

.video__button {
  width: 70px;
  min-height: 66px;
  line-height: 0;
  border: none;
}

.video__icon {

}
