.video {
  margin: 0 auto;
}

.video__window {
  margin: 0;
  padding: 0;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: 320px 201px;
}

.video__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 350px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.video__scroll {
  position: absolute;
  top: -35px;
  left: 35px;
  width: 280px;
  min-height: 45px;
  background-color: #000000;
}

.video__button {
  width: 70px;
  line-height: 0;
  background: 0 0;
  border: none;
}
