html,
body {
  color: #ffffff;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

body {
  margin: 0;
}

p {
  font-weight: normal;
}

a {
  text-decoration: none;
}
