/* COLORS */
$dark-color: #000000;
$light-color: #ffffff;
$warning-color: #ff5c5c;
/* Screens */
$tablet-width: 768px;
$desktop-width: 1200px;
/* Resolution */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
