/* COLORS */
$dark-color: #000000;
$light-color: #ffffff;
$warning-color: #ff5c5c;
$darker-5pct-color: #F2F2F2;
$darker-7pct-color: #EDEDED;
$darker-10pct-color: #E6E6E6;
$darker-14pct-color: #DBDBDB;
$darker-16pct-color: #D6D6D6;
$darker-20pct-color: #cccccc;
$darker-36pct-color: #A3A3A3;
$darker-40pct-color: #999999;
$darker-80pct-color: #333333;
/* Screens */
$tablet-width: 768px;
$desktop-width: 1200px;
/* Resolution */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
