@import "global/variable.scss";

.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
}

.feedback__section {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: none;
}

.feedback__section--title {
  display: block;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.feedback__section--contacts {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: $tablet-width) {
  .feedback__section:nth-child(1) {
    width: 50%;
    order: 2;
  }
  .feedback__section:nth-child(3) {
    width: 50%;
    order: 1;
  }
  .feedback__section:nth-child(2) {
    width: 100%;
    order: 3;
  }
  .feedback__section:nth-child(4) {
    width: 100%;
    order: 4;
  }
  .feedback__section:nth-child(5) {
    width: 100%;
    order: 5;
  }
  .feedback__section:nth-child(6) {
    width: 100%;
    order: 6;
  }
}

@media screen and (min-width: $desktop-width) {

}

