@import "global/variable.scss";

.textbox {
  display: flex;
  margin-bottom: 20px;
}

.textbox__title {
  display: block;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 58px;
  color: #000000;
}

.textbox__inner {
  display: flex;
  width: 100%;
}

.textbox__input {
  flex-grow: 1;
  height: 58px;
  margin: 0 10px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: none;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: right 50%;
  border: none;
}

.textbox--contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 45px;
}

.textbox__warning {
  position: absolute;
  top: 130px;
  left: 20px;
  display: block;
  color: #ff5c5c;
  text-transform: none;
}

.textbox__input--phone {
  background-image: url("../img/icon-phone.svg");
}

.textbox__input--email {
  background-image: url("../img/icon-mail.svg");
}

@media screen and (min-width: $tablet-width) {
  .textbox__title--contacts {
    margin-bottom: 5px;
    margin-left: 20px;
    line-height: 25px;
    text-align: left;
  }

  .textbox__warning {
    top: 0px;
    left: unset;
    right: 0px;
    font-weight: normal;
  }
}

@media screen and (min-width: $desktop-width) {
  .textbox--contacts {
    width: 50%;
  }

  .textbox__warning {
    display: none;
  }
}
