@import "global/variable.scss";
@import "global/mixins.scss";

.textbox {
  display: flex;
  margin-bottom: 20px;
  min-width: 266px;

  @include tablet {
    // padding-left: 17%;
    // padding-right: 3%;
  }
}

.textbox__title {
  display: block;
  padding-right: 15px;
  padding-top: 15px;
  line-height: 26px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: #000000;

  @include tablet {
    padding-left: 57px;
  }
}

.textbox__title--display {

  @include desktop {
    display: none;
  }
}

.textbox__title--contacts {
  padding-top: 0;
  padding-bottom: 6px;
  padding-left: 21px;

  @include tablet {
    margin-bottom: 5px;
    line-height: 25px;
    text-align: left;
  }

  @include desktop {
    padding-left: 24px;
    padding-right: 19px;
    padding-top: 18px;
  }
}

.textbox__inner {
  display: flex;
  width: 100%;

  @include tablet {
    padding-right: 10px;
  }

  @include desktop {
    width: 312px;
  }
}

.textbox__inner--name {

  @include desktop {
    width: 350px;
  }
}

.textbox__input {
  flex-grow: 1;
  width: 1%;
  height: 58px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  text-transform: none;
  background-color: $input;
  background-repeat: no-repeat;
  background-position: 95%;
  border: none;

  &:hover {
    background-color: $input-hover;
  }

  &:active {
    background-color: $input-down;
  }
}

.textbox--contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;

  @include tablet {
    padding: 0 60px;
  }

  @include desktop {
    width: 45%;
    flex-direction: row;
    padding: 0;
  }
}

.textbox--contacts:nth-child(1) {

  @include desktop {
    width: 44%;
  }
}

.textbox--contacts:nth-child(2) {

  @include desktop {
    width: 56%;
  }
}

.textbox--contacts:nth-child(2) .textbox__title--contacts{

  @include desktop {
    padding-left: 60px;
  }
}

.textbox--contacts:nth-child(2)

.textbox__warning {
  position: absolute;
  top: 130px;
  left: 20px;
  display: block;
  color: #ff5c5c;
  text-transform: none;
}

.textbox__input--phone {
  background: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 22px;
  background-color: #f2f2f2;
}

.textbox__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 22px;
  background-color: #f2f2f2;
  margin-bottom: 12px;
}
