.toggle {
  margin-bottom: 20px;
}

.toggle__item {
  margin-bottom: 13px;
}

.toggle__input {
  display: none;
  &:checked + .toggle__title::before {
    background-color: $darker-80pct-color;
  }
  &:checked + .toggle__title:active::before {
    background-color: $darker-36pct-color;
  }
  &:disabled + .toggle__title,
  &:disabled + .toggle__title:hover,
  &:disabled + .toggle__title:active {
    &::before {
      background-color: $darker-20pct-color;
      border-color: $darker-20pct-color;
      opacity: .1;
    }
  }
}

.toggle__title {
  position: relative;
  display: block;
  padding-left: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
  text-align: left;
  text-transform: none;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    display: block;

    width: 25px;
    height: 25px;
    border: 18px solid $darker-5pct-color;
    border-radius: 50%;
    background-color: $darker-5pct-color;
    left: 0;
  }

  &:hover::before {
    border-color: $darker-10pct-color;
    background-color: $darker-10pct-color;
  }

  &:active::before {
    border-color: $darker-16pct-color;
    background-color: $darker-16pct-color;
  }
}
