@import "global/variable.scss";
@import "global/mixins.scss";

.advantages {
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
}

.advantages p {
  @include tablet {
    padding: 0 12%;
    margin-top: 17px;
  }
}

.advantages--first {
  padding-top: 36px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: auto, auto;

  @media screen and (min-width: 338px) {
    padding-top: 0;
    background-image: none;
  }

  .advantages__title {
    @include desktop {
      padding: 0 12%;
      margin-top: 5px;
    }
  }

  p {
    @include desktop {
      padding: 0 5%;
    }
  }
}

.advantages--second {

  .advantages__inner {
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  .advantages__photo {
    @include tablet {
      margin-right: auto;
      margin-left: unset;;
    }
    @include desktop {
      margin-right: unset;
    }
  }

  .advantages__title {
    @include desktop {
      padding: 0 20%;
      margin-top: 5px;
    }
  }

  p {
    @include desktop {
    padding: 0 8%;
    }
  }
}

.advantages--brief {

  .advantages__text {
    min-height: 168px;

    @include tablet {
      padding-top: 30px;
    }
  }

  .advantages__number {
    @include tablet {
      margin-top: 6px;
    }
  }

  .advantages__title {
    @include tablet {
      padding: 0 10%;
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 0;
    }
  }

  p {

    &:nth-child(2) {
      @include tablet {
        padding-top: 5px;
      }
    }

    @include tablet {
      padding: 0 8%;
    }

    @include desktop {
      padding: 0;
    }
  }

}

.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}

.advantages__text {
  padding: 0 20px;
  line-height: 21px;
  min-height: 192px;
  box-sizing: border-box;

  @include tablet {
    width: 256px;
    margin: auto;
  }

  @include desktop {
    width: 340px;
  }
}

.advantages__text p {
  padding: 0;
}

.advantages--brief .advantages__title {
  font-size: 18px;
  line-height: 10px;
  padding-top: 4px;
}

.advantages__number {
  margin-bottom: 14px;

  &:before {
    content: "- ";
  }

  &:after {
    content: " -";
  }

  @include tablet {
    margin-top: 13px;
  }
}

.advantages__photo {
  width: 320px;
  height: 260px;

  @include tablet {
    width: 512px;
    height: 256px;
    margin-left: auto;
  }

  @include desktop {
    width: 800px;
    height: 256px;
    overflow: hidden;
    margin-left: unset;
  }
}

.advantages__photo img {
  max-width: unset;
}

.advantages--brief {
  background-color: #eeeeee;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  min-height: 505px;

  @include tablet {
    flex-direction: row;
    min-height: 256px;
  }
}

.advantages__title {
  font-size: 18px;
  padding-top: 26px;

  @include tablet {
    padding-top: 0;
    font-size: 21px;
    margin-bottom: 0px;
    font-size: 21px;
    margin-top: 10px;
    line-height: 25px;
  }
}

.advantages__item {
  margin: auto;

  @include tablet {
    width: 252px;
    min-height: 256px;
  }
}

.advantages__item .advantages__text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 17px;
  padding-bottom: 0;
  margin: 0 36px;
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(2) {
  border-bottom: 1px solid #d6d6d6;
}
