.advantages {
  margin: 0;
  padding: 0;

  background-color: #81b3d2;
}
/*
.advantages__inner {

}
*/
.advantages__text {
  width: 320px;
  padding: 40px 20px;
  line-height: 21px;
}
/*
.advantages__title {

}

.advantages__number {

}
*/
.advantages__photo {
  width: 320px;
  height: 260px;
}

.advantages--brief {
  background-color: #eeeeee;
  color: #333333;
}
