@import "global/variable.scss";
@import "global/mixins.scss";

.common-section {
  margin-bottom: 28px;
  padding: 36px 6% 0;
  color: #333333;
  text-align: center;

  @include tablet {
    height: 169px;
    padding-bottom: 0;
  }
}

.common-section p {
  padding: 0 3%;

  @include tablet {
    width: 500px;
    margin: 15px auto;
    padding-top: 0;
  }

  @include desktop {
    width: 445px;
  }
}

.common-section--index {
  margin-bottom: 0;
}

.common-section--index p {
  padding-top: 17px;
  margin-bottom: 8px;

  @include desktop {
    width: 483px;
    margin: 15px auto;
  }
}

.common-section .button {
  margin-top: 33px;

  @include tablet {
    width: 460px;
    margin-top: 42px;
  }
}

.common-section__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 10px;

  @include tablet {
    padding-top: 20px;
    width: 460px;
    margin: 0 auto;
  }

  @include desktop {
    padding-top: 10px;
  }
}

.common-section--index .common-section__title {
  width: 260px;
  margin: auto;
  margin-top: 3px;

  @include tablet {
    font-size: 21px;
    padding-top: 12px;
    width: 460px;
    margin: 0 auto;
    margin-left: none;
  }
}

.common-section--index .common-section__title--big {
  @include tablet {
    font-size: 30px;
    padding-top: 30px;
  }
}

.common-section--second {
  padding-top: 24px;

  @include tablet {
    height: 240px;
  }
}

.common-section--second p {
  padding-top: 4px;

  @include tablet {
    width: 450px;
    padding-top: 18px;
  }
}

.common-section__title--big {
  font-size: 21px;

  @include tablet {
    font-size: 30px;
    line-height: 25px;
    padding-top: 40px;
  }

  @include desktop {
    padding-top: 75px;
  }
}

.common-section--form {
  margin-bottom: 15px;

  @include tablet {
    margin-bottom: 0px;
  }
}

.common-section--form .common-section__title--big {
  font-size: 18px;

  @include tablet {
    font-size: 30px;
  }
}

.common-section--photo .common-section__title--big {
  font-size: 18px;

  @include tablet {
    margin-top: 0;
    font-size: 30px;
  }

  @include desktop {
    padding-top: 77px;
  }
}

// костыль

.common-section--photo {
  @include tablet {
    margin-bottom: 23px;
  }
}

//

.common-section--form p,
.common-section--photo p {
  padding: 0;
  padding-top: 16px;
}

.common-section--photo-second {
  @include tablet {
    padding-top: 26px;
  }
}

.common-section--photo-second .common-section__title--big {
  @include desktop {
    padding-top: 45px;
  }
}

.common-section--photo-second p {
  padding-top: 9px;

  @include tablet {
    padding-top: 17px;
  }
}
