@import "global/variable.scss";

.feature {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  list-style: none;
  color: #333333;

  display: flex;
  flex-direction: column;
}

.feature__item {
  display: flex;
  padding: 26px 5% 0;
  line-height: 21px;
  text-align: left;
}

.feature__item p {
  margin: 0;
  padding-top: 8px;
  width: 232px;
}

.feature__icon {
  display: block;
  width: 69px;
  height: 37px;
}
/*
.feature__picture {

}
*/
.feature__text {
  padding-left: 13px;
}

.feature__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 37px;
}

@media screen and (min-width: $tablet-width) {
  .feature {
    min-height: 330px;
    flex-direction: row;
    padding-bottom: 0;
  }

  .feature__item {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 330px;
    text-align: center;
  }

  .feature__item:nth-child(1) {
    order: 1;
  }

  .feature__item:nth-child(2) {
    order: 3;
  }

  .feature__item:nth-child(3) {
    order: 2;
  }

  .feature__icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .feature__item p {
    width: 165px;
    padding-top: 0;
    margin: 0 auto;
  }

  .feature__item:nth-child(3) p {
    width: 157px;
  }

  .feature__text {
    padding-left: 0;
  }

  .feature__title {
    padding-top: 18px;
    font-size: 21px;
    padding-bottom: 18px;
  }

  .feature__icon {
    width: 82px;
    height: 73px;
  }
}

@media screen and (min-width: $desktop-width) {

}
