@import "global/variable.scss";
@import "global/mixins.scss";

.feature {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 416px;

  @include tablet {
    min-height: 330px;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.feature__item {
  display: flex;

  line-height: 21px;
  text-align: left;
  margin-top: 23px;

  @include tablet {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 330px;
    text-align: center;
  }
}

.feature__item p {
  margin: 0;
  width: 232px;
  padding-top: 8px;

  @include tablet {
    width: 165px;
    padding-top: 0;
    margin: 0 auto;
  }

  @include desktop {
    width: 255px;
  }
}

.feature__icon {
  padding-left: 20px;
  padding-top: 5px;
  display: block;
  width: 40px;
  height: 37px;

  @include tablet {
    width: 82px;
    height: 73px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    margin-bottom: 0;
  }
}

.feature__text {
  padding-left: 10px;

  @include tablet {
    padding-left: 0;
  }
}

.feature__title {
  padding-top: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 37px;

  @include tablet {
    padding-top: 18px;
    font-size: 21px;
    padding-bottom: 18px;
  }
}

.feature__item:nth-child(1) {

  @include tablet {
    margin-top: 0;
    order: 1;
  }
}

.feature__item:nth-child(2) {
  margin-top: 14px;

  @include tablet {
    margin-top: 0;
    order: 3;
  }
}

.feature__item:nth-child(3) {
  margin-top: 18px;

  @include tablet {
    margin-top: 0;
    order: 2;
  }

  p {
    @include tablet {
      width: 157px;
    }

    @include desktop {
      width: 285px;
    }
  }
}
