@import "global/variable.scss";

.logo {
  display: block;
  height: 58px;
  border: none;
}

.logo__picture {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

@media screen and (min-width: $tablet-width) {
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: $desktop-width) {
  .logo__picture {
    width: 187px;
    height: 96px;
  }
}

