@import "global/variable.scss";
@import "global/mixins.scss";

.logo {
  display: block;
  height: 58px;
  border: none;

  @include tablet {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo__picture {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;

  @include desktop {
    width: 187px;
    height: 96px;
  }
}
