@import "global/variable.scss";
@import "global/mixins.scss";

.main-nav {
  position: relative;

  @include tablet {
    width: auto;
    margin: 0;
    height: 55px;
  }
}

.main-nav__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  border: none;

  cursor: pointer;
}

.main-nav__button--closed {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: url("../img/icon-menu.svg") no-repeat 50% 50%;
  background-size: 23px 22px;

  @include tablet {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    min-height: 60px;
  }
}

.main-nav__list--closed {
  display: none;

  @include tablet {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    min-height: 60px;
  }
}

.main-nav__item {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;

  @include tablet {
    width: 20%;
    margin: 0;
  }
}

.main-nav__link {
  display: block;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 15px 0;

  &:hover {
    color: $light-color;
    background-color: $mobile-menu-hover;
  }

  &:active {
    color: $mobile-menu-item-down;
    background-color: $mobile-menu-down;
  }

  @include tablet {
    font-size: 14px;
    background-color: $light-color;
    color: $dark-color;

    &:hover {
      background-color: $light-color;
      color: $main-nav-hover;
    }

    &:active {
      background-color: $light-color;
      color: $main-nav-hover;
    }
  }
}

.main-nav__link--active {
  color: $mobile-menu-item-down;
  background-color: $mobile-menu-down;

  @include tablet {
    color: $main-nav-active;

    &:hover {
      color: $main-nav-active-hover;
    }

    &:active {
      color: $main-nav-active-down;
    }
  }
}

.main-nav__item:nth-child(2) {
  @include tablet {
    margin-right: 158px;
  }

  @include desktop {
    margin-right: 120px;
  }
}

.main-nav__item:nth-child(3) {
  @include desktop {
    margin-left: 120px;
  }
}
