@import "global/variable.scss";

.page-footer {
  margin: 0 20px;
  padding: 0;
  min-height: 230px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

.page-footer__social {
  margin-bottom: 30px;
}

.page-footer__copyrights {
  display: flex;
  justify-content: center;
}

.page-footer__copyrights--text {
  color: #000;
  padding-right: 12px;
  line-height: 48px;
}

.page-footer__copyrights--link {
  display: block;
  width: 27px;
  height: 48px;
  padding-top: 5px;
}

.page-footer__copyrights--logo {
  background-color: #000;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: $tablet-width) {

  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }

}
