@import "global/variable.scss";
@import "global/mixins.scss";

.page-footer {
  margin: 0 20px;
  padding-top: 20px;
  min-height: 230px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-top: 27px;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-top: 0;
    min-height: 0;
  }

  @include desktop {
    margin-top: 26px;
  }
}

.page-footer__hashtag {
  margin-bottom: 38px;
  margin-top: 17px;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #000000;

  @include tablet {
    margin-bottom: 50px;
    margin-left: 40px;
  }

  @include desktop {
    margin-left: 114px;
  }
}

.page-footer__social {
  margin-bottom: 25px;
}

.page-footer__copyrights {
  display: flex;
  justify-content: center;

  @include tablet {
    margin-right: 40px;
  }

  @include desktop {
    margin-right: 23px;
  }
}

.page-footer__copyrights-text {
  color: #000000;
  padding-top: 4px;
  padding-right: 6px;
  line-height: 48px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.page-footer__copyrights-link {
  display: block;
  width: 27px;
  height: 48px;
  padding-top: 10px;
  padding-right: 4px;
}

.page-footer__copyrights-picture {
  fill: $logo;
  width: 37px;
  height: 37px;

  &:hover {
    fill: $logo-hover;
  }

  &:active {
    fill: $logo-down;
  }
}
