@import "global/variable.scss";

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.social-list__item {

  margin-right: 6px;
  margin-bottom: 6px;

  background-color: red;
  list-style: none;
}

.social-list__link {
    display: block;
    width: 48px;
    height: 48px;
    padding-top: 13px;
    color: #fff;
    background-color: #81b3d2;
}
/*
.social-list__picture {

}
*/
