@import "global/variable.scss";
@import "global/mixins.scss";

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  @include tablet {
    padding-top: 2px;
    min-height: 50px;
  }

  @include desktop {
    margin-right: 90px;
  }
}

.social-list__item {
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: red;
  list-style: none;
}

.social-list__link {
  display: block;
  width: 45px;
  height: 45px;
  color: $social-item;
  background-color: $social-bg;

  &:hover {
    background-color: $social-bg-hover;
  }

  &:active {
    background-color: $social-bg-down;
  }
}

.social-list__picture {
  fill: $social-item;
  width: 17px;
  height: 15px;
  padding: 15px;

  &:hover {
    fill: $social-item-hover;
  }

  &:active {
    fill: $social-item-down;
  }
}
