@import "global/variable.scss";

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.social-list__item {
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: red;
  list-style: none;
}

.social-list__link {
  display: block;
  width: 45px;
  height: 45px;

}
/*
.social-list__picture {

}
*/
