@import "global/variable.scss";
@import "global/mixins.scss";

.wrapper {
  width: auto;
  text-align: center;
  min-width: 320px;

  @include tablet {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  @include desktop {
    box-shadow: 0 0 40px 0 #dbdbdb;
  }
}
